body{
    background-color: #F4F5F7;
}

.top-nav
{
    background-color: white;
    width: 100%;
    height: 13%;
    position: absolute;
    top: 0;
    left: 0;

}

.side-nav
{
    display: flex;
    flex-direction: column;
    background-color: white;
    position: fixed;
    height: 100%;
    width: 7%;
    left: 0;
    top: 0;
    box-shadow: 5px 10px 18px  #c3c1c1;
    
}
ul{
    list-style: none;
    
    width: 100%;
    
}

li
{
    position: relative;
    text-align: center;
    width: 100%;
    height: 100%;
    
   
}

i{
    text-align: center;
    width: 100%;
    
    font-size: 25px;
    color: #7D94AD;
}

.back-btn
{
    position: absolute;
    top: 20%;
    left: 15%;
}