body{
    margin: 0;
    padding: 0;
    background-color: #eee;
}
.top-nav{
    height: 100px;
    background-color: white;
    width: 100%;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.side-nav{
    margin-top: -100px;
    flex: 7%;
    background-color: white;
    height: 100vh;
    box-shadow: 5px 10px 18px  #c3c1c1;
}
.main-container{
    flex: 93%;
}
.nav-list{
    flex: 30%;
    margin: 0;
    flex-direction: column;
    list-style-type: none;
    height: 100%;
    padding: 0;
    align-items: center;
}
.nav-list > li{
    display: flex;
    height: 100px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
    flex-direction: column;
    line-height: 30px;
    color: #7D8FA2;
}

.nav-list > li > p{
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    text-align: center;
}
.logo{
    font-size: 40px;
    border-bottom: 1px solid rgb(172, 168, 168);
    color: #111 !important;
}
.active{
    background-color: #D0E0ED;
    border-left: 5px solid rgb(24, 70, 155) !important;
    color: #111 !important;
}

@media screen and (max-width: 800px) {
    .side-nav{
        max-width: 20% ;
    }

    .insertBox{
        width: 150px !important;
    }

    .main-container{
        max-width: 80%;
    }
}

.back{
    display: inline-block;
    margin: 20px 0 0 40px;
    color: #7D8FA2;
}

.upload{
    display: flex;
    margin: 20px 0 0 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.insertBox{
    display: block;
    width: 70%;
    background-color: white;
    text-align: left;
    padding: 10px;
    color: #111;
    font-size: 15px;
    font-weight: bold;
    border: 0 solid white;
    border-radius: 10px;
}

.uploadBox{
    padding: 90px;
    background-color: white;
    font-size: 15px;
    color: #111;
    text-align: center;
    font-weight: bold;
}
